*, *::after {
  margin: 0;
  padding: 0;
}

.user-header {
  width: 100%;
  background-color: #1e3ac6;
}

.user-header-container{
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: .5em;
}

.user-header-container-left{
  display: flex;
  align-items: center;
  width: 50%;
  justify-content: space-around;
}

.user-header-container-left > h1{
  font-size: 2.5em;
  color: #fefefe;
}

.user-header-form {
  max-width: 100%;
  position: relative;
}

.user-header-form > input {
  font-size: 1em;
  border: 2px solid black;
  border-radius: 50px;
  padding: 1rem 2rem;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
  width: 100%;

}

.user-header-form > button {
  position: absolute;
  right: 0;
  background-color: white;
  border-radius: 50%;
  height: 100%;
  aspect-ratio: 1;
  border-right: 1px solid black;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
  transition: all 0.2s ease-in-out;
}

.user-header-form > button:hover {
  transform: scale(1.1);
}

.user-header-form > input:focus {
  outline: none;
}

.user-header-container-right {
  display: flex;
  justify-content: center;
  gap: 1em;
  width: 50%;
}

.user-header-container-right > button{
  padding: 1em;
  border-radius: 50px;
  background-color: transparent;
  color: #fefefe;
  border: 2px solid white;
}

.login{
  text-decoration: none;
  color: #fefefe;
  padding: 1.2em;
}

.table-container {
  width: 80%;
  margin: 0 auto;
  max-height: 80vh;
  overflow: auto;
}

table {
  width: 100%;
  max-height: 100%; 
  overflow: auto;
  border-collapse: collapse;
  margin: 0 auto;
}

table, th, td {
  border: 1px solid #ddd;
}

th {
  background-color: #f2f2f2;
  text-align: left;
  position: sticky;
  top: 0;
  padding: 15px;
}

th, td {
  padding: 15px;
  width: 200px;
}

.edit-input {
  font-size: 1em;
  padding: 5px;
  width: 100%;
  height: 100%;
  background-color: transparent;
  border: none;
  outline: none;
}

.hovered {
  background-color: #d5d5d5;
}

.home-header{
  position: relative;
  background-color: #595959;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 20vh;
  align-items: center;
}

.home-title{
  font-size: 6rem;
}

.home-icon{
  position: absolute;
  display: flex;
  justify-content: flex-end;
  right: 10%;
  top: 10%;
  width: 10%;
}

.home-cart{
  position: relative;
  font-size: 2rem;
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: #f2f2f2;
}

.home-number{
  position: absolute;
  font-size: 1rem;
  color: blue;
  left: 100%;
  top: 70%;
}

.home-admin{
  position: absolute;
  left: 10%;
  top: 10%;
  font-size: 1rem;
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: #f2f2f2;
}

.customer-home{
  height: 100vh;
}

.card-slider-container {
  height: 100vh;
  gap: 20px;
  overflow: auto;
}


.card {
  height: 50%;
  width: 20%;
  position: relative;
  overflow: hidden;
  margin: 10px;
  border: 6px solid black;
}

.card-img-container {
  height: 100%;
  width: 100%;
}

.card-img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  z-index: -1;
}


.card:hover .card-content {
  transform: translateY(0);
}

.card-content {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: rgba(209, 9, 9, 0.7);
  padding: 10px;
  transform: translateY(100%);
  transition: transform 0.3s ease;
}

.card-name {
  font-size: 2rem;
  margin-bottom: 10px;
  color: white;
}

.card ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.card li {
  margin-bottom: 5px;
  color: white;
}
.card-deet{
  color: #fefefe;
  width: 80%;
  text-align: center;
  text-transform: capitalize;
}

.card-buy{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90%;
}

.card-price {
  margin-top: 1rem;
  font-size: 1.5rem;
  margin-bottom: 10px;
  color: white;
}


.card-cart{
  font-size: 1.5rem;
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: #fefefe;
}

.card-cart :hover,
.home-cart :hover{
  color: rgb(150, 53, 53);
}

.cart-div{
  position: absolute;
  width: 40%;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: white;
  z-index: 1;
  overflow-x: auto;
}

.cart-item{
  position: relative;
  top: 0;
  display: flex;
}

.cart-item > img {
  height: 30%;
  width: 30%;
  aspect-ratio: 1;
}