.user-header-container{
  display: flex;
  width: 100%;
  align-items: center;
  text-align: center;
  justify-content: space-around;
  background-color: #003F62;
}

.user-header-container-left,
.user-header-container-right{
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  /* gap: 2em; */
}

.user-header-container-left > h1 {
  color: #ffff;
  font-size: 2em;
}

.user-header-form{
  width: 300px;
  max-width: 100%;
  position: relative;
}

.user-header-form > input{
  border: 2px solid white;
  border-radius: 50px;
  padding: 1rem 2rem;
  width: 100%;
}

.user-header-form > button{
  position: absolute;
  right: 0;
  background-color: white;
  border-radius: 50%;
  height: 100%;
  aspect-ratio: 1;
}